@font-face {
    font-family: mainFont;
    src: url(../../fonts/phagspa.ttf);
}

$primary-color: #ffc939;

body {
    margin: 0;
    font-family: "mainFont";
    overflow-x: hidden;
}
h1 {
    font-weight: 800;
    font-size: 2.2rem;
}
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

p,
a {
    font-weight: 400;
}

a {
    cursor: pointer;
}
nav {
    z-index: 1000;
    position: fixed;
    display: flex;
    width: 96%;
    height: 6vh;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0 2%;
    transition: all 0.4s;
}
nav > div {
    display: flex;
    gap: 30px;
}
nav a {
    margin: 0;
    font-size: 1.2em;
    color: #eee;
    text-decoration: none;
    background: linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)),
        linear-gradient(to right, $primary-color, $primary-color);
    background-size: 100% 0.1em, 0 0.1em;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.4s;
    position: relative;
}

nav a:hover {
    background-size: 0 0.1em, 100% 0.1em;
}

.logo-div {
    width: fit-content;
    height: fit-content;
    justify-content: center;
}

.logo-top {
    min-width: 20%;
    min-height: 20%;
    max-height: 20%;
    max-width: 20%;
}

.link-w-children {
    display: flex;
    flex-direction: column;
    position: relative;
}

.children-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: 0.4s;
}

.link-w-children:hover .children-links {
    z-index: 999;
    opacity: 1;
    display: flex;
    top: 100%;
}

.scrolled {
    background: rgb(255, 255, 255) !important;
    box-shadow: 3px 15px 20px rgb(0 0 0 / 8%);
}

.scrolled * {
    color: #111;
}

.scrolled .children-links {
    padding: 0.5vw;
    background: rgb(255, 255, 255) !important;
}

footer {
    background-color: #333;
    padding: 2%;
}

footer * {
    color: #eee !important;
    font-weight: 300;
    white-space: nowrap;
}

footer > div {
    gap: 10px;
    justify-content: space-evenly !important;
    max-width: 1200px !important;
    align-items: center;
}

footer a {
    margin-top: 5px;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    color: #ffca39 !important;
}

.footer-logo {
    max-width: 100% !important;
    max-height: 100% !important;
}

footer > div > div {
    display: flex;
    flex-direction: column;
}

footer .footer-social .section {
    margin: 0;
}

/* footer .footer-social {
} */
.footer-container {
    max-height: min-content;
}

.footer-container > div {
    min-height: 100%;
}

.footer-social img {
    width: 45px;
    height: 45px;
    //margin: 5px;
    margin-right: 5px;
}

.footer-social a {
    margin: 0;
}
.footer-social p {
    margin: 0;
}
.footer-social .section {
    align-items: center;
}

footer h2 {
    margin-top: 0;
}

.services-links {
    align-items: unset !important;
}

.img-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
    min-height: 100% !important;
    max-height: 100% !important;
}
.img-container img {
    min-height: calc(3 * 20px + 3 * 3px) !important;
    max-height: calc(3 * 20px + 3 * 3px) !important;
    min-width: 100%;
    aspect-ratio: 691 / 205;
}

.logo-address {
    align-items: stretch;
    gap: 10px;
}

.section {
    max-width: 1280px;
    //min-width: 80%;
    display: flex;
    margin: auto;
    margin: 20px auto;
    justify-content: space-between;
}
.section-row {
    display: flex;
    //justify-content: center;
    flex-direction: row;
}

.section-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section * {
    color: #111;
}
.hamburger,
.close {
    display: none;
}
.logo-top-bar {
    display: none !important;
}

.cookies-banner {
    position: fixed;
    bottom: 0;
    background: rgb(255, 255, 255);
    z-index: 9999;
    width: 100vw;
}
.cookies-banner-inner {
    max-width: 1200px;
    margin: auto;
}
.cookies-banner-inner div {
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    gap: 10px;
}
.cookies-banner * {
    color: rgb(0, 0, 0);
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 30px;
    }
    .menu-show {
        background-color: #fff;
        height: 98vh;
        flex-direction: column;
        z-index: 100000;
        padding-bottom: 2vh;
    }
    .menu-show > .left,
    .menu-show > .right {
        display: flex;
    }
    .menu-show > .right {
        flex-direction: column;
    }
    .menu-show > .left {
        position: fixed;
        bottom: 10px;
        flex-direction: row;
    }
    .menu-show * {
        color: #000;
    }
    .menu-show > .hamburger {
        display: none;
    }
    .menu-show > .close {
        display: block;
    }
    .left,
    .right {
        display: none;
    }
    .children-links {
        position: relative;
        opacity: 1;
        margin-left: 10px;
    }
    .hamburger {
        position: absolute;
        right: 20px;
        top: 10px;
        width: 4vh;
        display: block;
    }
    .close {
        position: absolute;
        right: 20px;
        top: 10px;
        width: 4vh;
        display: none;
    }
    footer > div {
        flex-direction: column !important;
        gap: 20px;
    }
    .logo-address {
        flex-direction: column;
    }
    .img-container {
        min-width: 100%;
    }
    .footer-logo {
        min-width: 100% !important;
    }
    footer h2 {
        margin-bottom: 0;
    }
    .footer-social img {
        width: 32px;
        height: 32px;
    }
    .active-link::before {
        content: "-";
        color: #ffc939;
    }
    .logo-top-bar {
        margin-top: 1vh;
        display: block !important;
        width: 50%;
    }
}
